<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
 
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

### never deliver .git folders, .gitIgnore
RewriteRule ^(.*/)?\.git+ - [R=404,L]

# 2nd line of defense (if no mod_rewrite)
RedirectMatch 404 ^(.*/)?\.git+
 
ErrorDocument 404 http://%{HTTP_HOST}/test_php/404.php	
 

RewriteRule ^listar-clientes/?$ \/test_php/listar-clientes.php [NC,L]
RewriteRule ^cadastrar-clientes/?$ \/test_php/cadastrar-clientes.php [NC,L]

RewriteRule ^remover-cliente\/([0-9A-z_-]+)$ \/test_php/remover-cliente.php?id=$1 [QSA,L,NC]
RewriteRule ^editar-cliente\/([0-9A-z_-]+)$ \/test_php/editar-cliente.php?id=$1 [QSA,L,NC]
